/*                      */
.img-profile-rate {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.img-slider {
  max-width: 400px;
}

.img {
  width: 400px;
  height: 425px;
  background-color: white;
  display: table-cell;
  vertical-align: middle;

}

.img > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
}

.slider {

  width: 100%;
  height: 80px;
  background-color: white;
}

.slider > h3 {

  font-weight: 50;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

.profile-rate {
  max-width: 532px;
  width: 100%;
  height: 355px;
}

.img-profile-name {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  border: 2px solid green;
}

.img-profile-name > span {
  font-size: 40px;
  display: block;
  padding-top: 40px;
}

.name-email span {
  display: block;
  font-size: 24px;
  padding-top: 17px;
}

.rate {
  margin-top: 20px;
  height: 100%;
  border: 2px solid green;
}

.text-rate {
  text-align: center;
  padding-top: 20px;
}

.text-rate span {
  font-weight: 400;
  line-height: 1.5;
  font-size: 30px;
  display: block;
}

.text-rate .upBet {
  padding-top: 20px;
}

#input_rate {
  border: none;
  border-bottom: 2px solid green;
  width: 100px;
  font-size: 30px;
  background-color: #f0f1f3;
}

.add_rate {
  padding: 10px 40px;
  display: block;
  text-align: center;
  background-color: #d9f091;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  /*font-size: 24px;*/
  border: 2px solid green;
  text-decoration: none;
  color: black;
}

.name-desc {
  height: 250px;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.name-desc > h3 {
  text-align: center;
  padding-top: 20px;
}

.name-desc > span {
  margin-top: 30px;
  padding: 0 40px;
  display: block;
  font-size: 18px;
  padding-bottom: 40px;
}

/*                   */
@media (max-width: 800px) , (max-device-width: 800px) {

  .img-profile-rate {
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
  }

  .profile-rate {
    margin-top: 30px;
  }

  .name-desc {
    position: relative;
    top: 130px;
  }

}
.imageproduct > img {
  max-height: 80px;
padding: 1px;
}

.imageproduct {
  padding: 5px;
  background-color: #fff;
  min-width: 100%;
  min-height: 10px;
  list-style-type: none;
  display: flex;
  overflow-x: auto;
}
.form-help-text {
  padding-top: 1px;
  color: #fb494d;
  font-size: 13px;
  text-align: right;
  padding-right: 120px;
}
.rate-prod{
  padding: 5px;
  background-color: #fff;
  min-height: 10px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
.rating-result {
  width: 265px;
  margin: 0 auto;
}
.rating-result span {
  padding: 0;
  font-size: 32px;
  margin: 0 3px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: gold;
  text-shadow: 1px 1px #c60;
}
