body {margin: 0;padding:0;}
* {
  box-sizing: border-box;
}
.navigation {
  max-width: 2000px;
  width: 100%;
  height: 8vh;
  background-color: #33484b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  padding: 20px 0;
  padding-left: 30px;
}
.znak-menu:first-child {
  margin-top: 0;
}
.znak-menu {
  background-color: white;
  width: 30px;
  height: 6px;
  margin-top: 6px;
}
.menu-hover {
  position: absolute;
  top: 68px;
  left: 0;
  max-width: 300px;
  width: 100%;
  z-index: 1;
  display: none;
  opacity: 0.9;
}
.li {
  padding: 20px 0;
  background-color: #33484b;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 24px;
}
.li:hover {
  background-color: #33484b;
  color: red;
  transition: background-color 0.2s;
}
.menu:hover .menu-hover {display: inherit; }
.logo img {
  max-width: 150px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
}
.find {
  margin-left: 50px;
  max-width: 1000px;
  width: 100%;
  display: flex;
}
.find > input {
  font-size: 30px;
  width: 98%;
  border: 0;
}
.find-logo {
  width: 45px;
  background-color: orange;
  align-items: center;
}
.find-logo >img {display: block;margin: 0 auto;}
.find-logo:hover {
  opacity: 0.5;
}
.my-profile {display: flex;align-items: center; }
.my-profile > h3 {padding-left: 10px; font-size: 24px; font-weight: 200;}
.my-profile >h3 > a {color: white; text-decoration: none;}
.my-profile >h3 > a:hover {opacity: 0.5;}
.img-profile {padding-left: 40px;}
.img-profile img {height: 40px;}
@media (max-width: 1650px) {
  .find {max-width: 700px; width: 100%;}
}
