<div class="filters">
  <div class="filter1">
    <div class="filter-in-category">
      <span>Категорія</span>
      <select>
        <option>Для дітей</option>
        <option>Для дорослих</option>
        <option>Для саду</option>
        <option>Нерухомість</option>
      </select>
    </div>
    <div class="filter-in-day">
      <span>Срок ставок</span>
      <div class="start-end-day">
        <i>Від</i>
        <input type="text" name="" class="enter-day-min">
        <i>До</i>
        <input type="text" name="" class="enter-day-max">
      </div>
    </div>
    <div class="filter-in-sum">
      <span>Сумма ставки</span>
      <div class="start-end-sum">
        <i>Від</i>
        <input type="text" name="" class="inputput-sum-min">
        <i>До</i>
        <input type="text" name="" class="input-sum-max">
      </div>
    </div>
  </div>
  <div class="enter">
    <a href="" class="enter-filter">Примінити фільтри</a>
    <a href="" class="drop-filter">Скасувати фільтри</a>
  </div>
</div>
<div class="list-tovar">

  <div class="tovar">
    <div class="img">
      <img src="/images/ps5.png">
    </div>
    <div class="name-tovar">
      <span>Iphopne 12 pro megaa</span>
      <span>Категорія: Для дітей</span>
    </div>
    <div class="info">
      <span>Дата окінчення: 2 дні.</span>
      <span>Дата окінчення: 2 дні.</span>
      <span>Дата окінчення: 2 дні.</span>
    </div>
    <div class="go-in-tovar">
      <a href="">На сторінку</a>
    </div>
  </div>

</div>
