<div class="tovar" *ngFor="let items of cliProds">
  <div class="tovar__inner">
    <img src="http://kyrsovoi/photos/{{items.img}}.jpg">
    <div class="text">
      <span>{{items.name}}</span>
      <span>До закінчення ставок: {{7 - items.dayloss}} {{Days(7 - items.dayloss)}}</span>
      <span>Остання ставка: {{items.samaStavka}} грн.</span>
    </div>
  </div>
  <div class="tovar__edit">
    <a [routerLink]="['/system/edit', items.id_tovar]">Редагувати</a>
    <a (click)="deleteProduct(items.id_tovar)">Видалити</a>
  </div>
</div>

