<div class="categories">
  <div id="category">
    <h3>Нерухомість</h3>
    <a [routerLink]="['/system/categories', this.categoryNames[0]]">Дивитися все</a>
    <div class="images-tovars">
      <ul class="imageproduct">
        <li *ngFor="let item of products">
          <a [routerLink]="['/system/product', item.id_tovar]">
            <img *ngIf="item.id_category==1" src="http://kyrsovoi/photos/{{item.image_tovar}}.jpg" class="img-prod"
                 >
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="category">
    <h3>Транспорт</h3>
    <a [routerLink]="['/system/categories', this.categoryNames[1]]">Дивитися все</a>
    <div class="images-tovars">
      <ul class="imageproduct">
        <li *ngFor="let item of products">
          <a [routerLink]="['/system/product', item.id_tovar]">
            <img *ngIf="item.id_category==2" src="http://kyrsovoi/photos/{{item.image_tovar}}.jpg"
                 >
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="category">
    <h3>Хобі</h3>
    <a [routerLink]="['/system/categories', this.categoryNames[2]]">Дивитися все</a>
    <div class="images-tovars">
      <ul class="imageproduct">
        <li *ngFor="let item of products">
          <a [routerLink]="['/system/product', item.id_tovar]">
            <img *ngIf="item.id_category==3" src="http://kyrsovoi/photos/{{item.image_tovar}}.jpg" >
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="category">
    <h3>Електроніка</h3>
    <a [routerLink]="['/system/categories', this.categoryNames[3]]">Дивитися все</a>
    <div class="images-tovars">
      <ul class="imageproduct">
        <li *ngFor="let item of products">
          <a [routerLink]="['/system/product', item.id_tovar]">
            <img *ngIf="item.id_category==4" src="http://kyrsovoi/photos/{{item.image_tovar}}.jpg" >
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
